<div class="container">
    <!--<p>The hero's birthday is {{ birthday | date:format }}</p>

  <button (click)="toggleFormat()">Toggle Format</button>-->
<div class=" filter_box  col-lg-12">
    <div class="col-lg-3">
  <!--      <form action="">
  <input type="radio" name="format" [(ngModel)]="format1"> Full Date<br>
  <input type="radio" name="format" [(ngModel)]="format2"> Short Date<br>
  
</form>-->
    </div>
    <input type="text" [(ngModel)]="day" >
    
    <div class=" filter_box col-lg-3">
        <form action="" >
  <input type="checkbox" name="All" > Select All<br>
  <input type="checkbox" name="Sundays" [(ngModel)]="day" value="su" > Sundays<br>
  <input type="checkbox" name="Mondays" value="Bike"> Mondays<br>
  <input type="checkbox" name="Tuesdays" value="Bike"> Tuesdays<br>
  <input type="checkbox" name="Wednesdays" value="Bike"> Wednesdays<br>
  <input type="checkbox" name="Thursdays" value="Bike"> Thursdays<br>
  <input type="checkbox" name="Fridays" value="Bike"> Fridays<br>
  <input type="checkbox" name="Saturdays" value="Bike"> Saturdays<br>
 
</form>
    </div>
    <div class="col-lg-3"></div>
    
    
 </div>


   <div class="col-lg-12" >
        <div class=" date col-lg-3 text-center" *ngFor="let date of dates |filter:day ">
            <p>{{date |date:format1}}</p>
        </div>
  </div>
  
  </div>